---
// Site estático: meta refresh é o mecanismo de redirect recomendado pela doc do Astro.
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Ely G. F. de Miranda</title>
  </head>
  <body>
    <a href="/en/">Continue to the site</a>
  </body>
</html>
